@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-content {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content-phrase {
  font-size: 3em;
  color: white;
}